.spinner-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3278d2;
}

.spinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .3);
    border-top-color: #fff;
    animation: .7s spin infinite linear;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}