.message__input-form_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    height: 100%;

    background: rgba(98, 98, 117, 0.8);
}