.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 60px;
    background-color: rgb(197, 197, 255);
    margin-bottom: 30px ;
    padding: 0 20px;
    box-shadow: 3px 0 11px 6px grey;
}

.header__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 45%;
}

.font-bold {
    font-weight: 700;
    font-size: 18px;
}

.font-italic {
    font-style: italic;
}