.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c5c5ff;
    width: 400px;
    border-radius: 25px;
    margin-bottom: 15px;
    overflow: hidden;
}

.message_right {
    align-self: flex-end;
}

.message-main {
    padding: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 00px 15px 8px 0;
}

.message-author {
    font-size: 18px;
    font-weight: bold;
}

.message-text {
    margin: 0;
    line-height: 1.2;
}

.message-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 19px;

    font-size: 12px;
    background-color: #c5c5ff;
    padding: 0 20px;
}

.fa-thumbs-up {
    margin: 0 8px -1px 0;
}

.fa-thumbs-up,
.fa-edit,
.fa-trash-alt {
    font-size: 13px;
    margin-right: 8px;
    cursor: pointer;
}